* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game {
  width: 55%;
  height: 65%;
  background:#eee;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.card.flip {
  transform: rotateY(180deg);
}